### discord oauth2
# endpoints
DISCORD_OAUTH2_AUTHORIZE="https://discord.com/api/oauth2/authorize"
DISCORD_OAUTH2_TOKENIZE="https://discord.com/api/oauth2/token"
DISCORD_OAUTH2_REVOKE="https://discord.com/api/oauth2/token/revoke"
# client id
DISCORD_OAUTH2_CLIENT_ID="XXXXXXXXXXXXXXXXXXXXX"
DISCORD_OAUTH2_CLIENT_SECRET="XXXXXXXXXXXXXXXXXXXXX"
# redirect url
DISCORD_OAUTH2_REDIRECT_URL="http://YOUR_API_URI/auth/oauth2/discord/callback"
